/* ====================================================================== */
/* [Marenkay](http://marenkay.com)       ·       © http://kogitoapp.com/  */
/*                                                                        */
/* Colour palette:                                                          */
/* foreground = #4d4d4c                                                   */
/* background = #fafafa                                                   */
/* selection  = #d6d6d6                                                   */
/* line       = #efefef                                                   */
/* comment    = #8e908c                                                   */
/* red        = #c82829                                                   */
/* orange     = #f5871f                                                   */
/* yellow     = #eab700                                                   */
/* green      = #718c00                                                   */
/* aqua       = #3e999f                                                   */
/* blue       = #4271ae                                                   */
/* purple     = #8959a8                                                   */
/* window     = #efefef                                                   */
/*                                                                        */
/* ====================================================================== */

/* = HTML5 reset ======================================================== */
header, nav, footer, section,
aside, article, figure, figcaption {
    display: block;
}

/* = Selection style ==================================================== */
::selection             { background-color: #d6d6d6; text-shadow: none; }

/* = Shared styles for all devices ====================================== */
html, body              { margin: 0 auto; text-align: justify;
                         font: normal 12px/1.5em "Droid Serif",
                         Georgia, Palatino, 'Palatino Linotype',
                         Times, 'Times New Roman',
                         serif, "Hiragino Sans GB", "STXihei", "微软雅黑"; }

body                    { /* force a scrollbar on the right for short pages.
                          when clicking the next / previous article links the
                          centre shifts about depending on page length and
                          this is undesired */
                          overflow-y: scroll; }

p                       { margin: 0 0 19px; }
p+p, p+aside+p          { text-indent: 20px; }

ul, ol                  { margin: 0 0 19px; padding: 0;}
ul ul, ol ol, ul ol,
ol ul                   { margin-left: 20px; }

dl                      { margin-bottom: 38px; }
dt                      { font-weight: bold; }
dd                      { margin: 0 0 19px 40px; }
dt+dt                   { /* when a definiton term `<dt>` is given without
                          a definition `<dd>`, then space the two adjacent
                          terms */
                          margin-top: 19px; }

a img                   { border: none; }

/* non-inline images in articles:
   (ReMarkable will not wrap an `<img>` in `<p>` if it’s the only element
   on the line) */
video, iframe,
article>img, section>img,
dd>img, li>img
                        { display: block; margin: 0 auto 19px; }

/* work around a centering bug in Gecko 1.9.0 ~ Firefox 3.0, Camino 2
   said block images above just won’t center without some coercing */
article                 { text-align: center; }
article>*               { text-align: justify; }
section                 { text-align: center; }
section>*               { text-align: justify; }

/* ensure table headers will be aligned top by default */
th[scope='row']         { vertical-align: top; }

/* - inline ------------------------------------------------------------- */
abbr                    { border: none; }
dfn                     { font-style: normal; }

/* `<sup>` and `<sub>` extend the line-height.
   Do not do this. */
sup                     { vertical-align: text-top; }
sub                     { vertical-align: baseline; }

small                   { vertical-align: top; }

/* - monospace ---------------------------------------------------------- */
/* `<samp>` does not align correctly with the baseline and increases
   line-height. Also, monospace fonts look too large in large text like
   title / quotes… */
samp, code              { font-size: 75%; line-height: 0; }
samp, code, pre         { font-family: "Meslo LG M DZ", monospace; }

/* …but too small in normal text */
section samp,
section code,
figure samp,
figure code             { font-size: 90%; }

pre                     { margin-bottom: 19px; padding: 18px 0;
                          border: 1px dotted #d6d6d6;
                          font-size: 75%; white-space: pre-wrap; }
pre code                { font-size: 100%; }

/* - quotes ------------------------------------------------------------- */
q                       { font-style: italic; }

blockquote              { position: relative; margin: 19px 40px 0px;
                          font: 16px/19px "Droid Serif", Georgia,
                          Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          color: #4d4d4c; }

/* large quotes, top and bottom */
blockquote:before,
blockquote:after        { display: block; height: 38px; overflow: hidden;
                          font: 72px/76px "Droid Serif", Georgia,
                          Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑"; }
blockquote:before       { content: "\201C"; margin-left: -40px;
                          margin-bottom: -40px; line-height: 64px; }
blockquote:after        { content: "\201D"; float: right;
                          margin-top: -45px; margin-right: -40px;
                          /* compatibility with Firefox 3.0 / Camino 2: */
                          padding-left: 10px; margin-left: 100%; }

blockquote>p+p          { text-indent: 0; }
blockquote>cite         { display: block; margin-bottom: 19px;
                          font-size: 13px; }
blockquote
 >cite:last-child       { text-align: right; }

/* - typographical flourished ------------------------------------------- */
ins                     { text-decoration: none; }
ins:before              { content: "["; }
ins:after               { content: "]"; }

/* drop cap */
article>section:first-of-type
 >p:first-of-type:first-letter,
hr+p:first-letter       { display: block; float: left; padding: 8px 2px 0 0;
                          font: 40px/24px "Droid Serif", Georgia,
                          Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑"; }

/* plush “et cetera” */
/* Mac: try for a combined ‘e’ and ‘t’ style, Windows: try match Palatino’s style. “Constantia” is a Vista font */
abbr[title="et cetera"] { font-family: cursive;
                          font-style: italic; font-size: 1.2em; line-height: 0; }

/* book like `<hr />` “thematic break”, i.e. “---------- ◆ ----------” */
hr                      { margin: 0 20% 55px; padding: 19px 0;
                          line-height: 38px; border: none;
                          border-bottom: 1px solid #d6d6d6;
                          text-align: center; color: inherit;
                          background-color: inherit; }
hr:before               { content: "\25C6"; display: inline-block;
                          float: left; position: relative; left: -8px;
                          margin: 0 50%; padding: 0 4px;
                          background-color: inherit; cursor: default; }

/* required to get the diamond to inherit a background */
article, section,
figure                  { background-color: white; }

/* - headings ----------------------------------------------------------- */
h1                      { font: 26px/38px "Droid Serif", Georgia,
                          Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          /* this prevents an insane WebKit bug that makes
                             H1s disappear when navigating */
                          display: block !important; }
h1, h2, h3, h4          { margin: 0 0 19px 0; text-align: left; }
h2, h3                  { /* use padding-top for headers so that clicking
                             a bookmark link (`#id`) spaces the header from
                             the top of the browser window */
                          padding-top: 19px; }
h2                      { font: normal small-caps 19px/38px "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          letter-spacing: 1px; }
h4, h5, h6              { text-decoration: underline; }

/* don’t display the title if none given (semantically “untitled”) */
h1:empty                { display: none; }

/* title for link / poem pages */
article > h1            { padding-top: 19px; margin-bottom: 19px; }
article > h1 + a        { display: block !important;
                          margin-bottom: 19px; margin-top: -19px; }

/* the distinctive header in the photo / art categories */
article > header + figure
 >figcaption            { font: 26px/38px cursive; text-align: center; }

/* - table of contents -------------------------------------------------- */
/* use an `<ol>` as the very first element in the blog entry to generate an auto numbered table of contents,
   numbers will be added to all the headings that have IDs */
section > h1+ol,
section >h1+ol ol       { margin-right: 0; list-style-type: none;
                          font-family: "Droid Serif", Georgia,
                          Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          counter-reset: toc h2 h3; }

/* add the numbering. `counters` is recursive,giving us “1.1”, “1.1.1” etc. */
section>h1+ol li:before { counter-increment: toc; content: counters(toc, ".") ". ";}

section>h1+ol a         { text-decoration: none; color: inherit; }
section>h1+ol a:hover   { text-decoration: underline; }

/* on the right for articles */
section>h1+ol           { float: right;
                          margin-left: 20px; padding-left: 19px;
                          border-left: 1px dotted #d6d6d6; }

/* - heading auto-numbering --------------------------------------------- */
/* shunt the first numbered heading below the TOC */
section>h1+ol~h2[id]    { clear: right; }

section>h2[id]          { counter-reset: h3; }
section
 >h1+ol~h2[id]:before   { counter-increment: h2; content: counter(h2) ". ";}
section
 >h1+ol~h3[id]:before   { counter-increment: h3; content: counter(h2) "." counter(h3) ". ";}

/* - white space -------------------------------------------------------- */
/* if an image is first in an article, increase the space below */
section>h1+img          { margin-bottom: 38px; }

/* don’t double-space with headings */
h1+h2, h2+h3, hr+h2, hr+h3,
dl+h2, dl+h3,
img+h2, img+h3          { padding-top: 0; }

/* odd spacing cases with `<hr />` */
dl+hr                   { margin-top: -19px; }

/* minimise space in figures, the figure frame is already there */
article>header+figure>figcaption:first-child:not(:empty)
                        { margin: 0 0 19px 0 !important; }
article>header+figure>figcaption:last-child:not(:empty)
                        { margin: 19px 0 0 0; }

li>figure:last-child    { margin-bottom: 19px !important; }

/* when using more than one section, space between them */
article>section:not(:last-child)
                        { margin-bottom: 20px; }

/* = print style ======================================================== */
@media print {
  /* stuff not needed in the printout, basically anything that isn’t
     content */
  header, footer        { display: none; }

  /* avoid a header right at the bottom of the page */
  h2, h3, h4            { page-break-after: avoid; }

  /* add the URL after a hyperlink */
  a                     { text-decoration: none; color: inherit; }
  a:not([href^="#"]):before
                        { content: "<"; font: 90% "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          color: #4d4d4c; }
  a:not([href^="#"]):after
                        { content: " " attr(href) ">";
                        font: 90% "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          color: #4d4d4c;
                          /* allow the long URLs to break anywhere */
                          word-wrap: break-word; white-space: pre; }
  /* prefix relative URLs with absolute location  */
  a[href^="/"]:after    { content: " http://marenkay.com" attr(href) ">"; }

  /* don’t do this on the photo / art images */
  figure a:before,
  figure a:after        { content: ""; }

  /* the long hyperlink URLs wreak havoc with justified text */
  article>*, section>*  { text-align: left; }

  /* don’t split images over pages */
  img                   { page-break-inside: avoid; }
}

/* = browser style (lo-fi) ============================================== */
@media screen, projection {

  /* - basic page styles ------------------------------------------------ */
  html                  { width: 980px; padding-top: 19px; }
  body                  { width: 720px; margin: 0 0 0 120px; }

  /* style the alt text, if an image fails or is slow to load */
  img                   { font-size: 11px; color: #4d4d4c; }

  pre                   { margin-left: -40px; margin-right: -40px;
                          padding-left: 40px; background-color: #efefef;}
  dd pre, dd li pre,
  blockquote>pre        { margin-left: -80px; padding-left: 80px; }
  blockquote>pre        { margin-right: -80px; }
  section>h1+pre        { margin-top: -19px; }

  /* display the bookmark anchor after a heading */
  h2[id]:hover:after,
  h3[id]:hover:after    { display: inline; content: " #" attr(id);
                          color: #4d4d4c; font-variant: normal; }

  /* clicking a link to a footnote, highlights that item */
  dt[id]:target,
  li[id]:target         { color: #d6d6d6;
                          text-shadow: #efefef 0 -1px 0, white 0 1px 0; }

  /* - fixed footer ----------------------------------------------------- */
  html, body            { height: 100%;
                          box-sizing: border-box; }

  /* the lo-fi style doesn’t use a float for the cite, so the extra margin
     everybody else uses is not required */
  blockquote            { margin-bottom: 19px; }

  /* - links ------------------------------------------------------------ */
  a                     { text-decoration: none; }
  a:hover               { text-decoration: underline; }

  /* direct links to files will be preceeded by a file-type icon */
  a[type]:before        { content: ""; display: inline-block;
                          width: 16px; height: 16px; margin-right: 4px;
                          text-indent: 0; line-height: 13px;
                          vertical-align: text-top;
                          background: url("img/icons/document.png") no-repeat 3px center; }

  /* the file type icons */
  a[type$="/plain"]:before
                        { background: url("img/icons/txt.png") no-repeat 3px center; }
  a[type$="/png"]:before,
  a[type$="/jpeg"]:before,
  a[type$="/gif"]:before
                        { background: url("img/icons/png.png") no-repeat 0 center; }
  a[type$="/zip"]:before
                        { background: url("img/icons/zip.png") no-repeat 3px center; }
  a[type="/pdf"]:before { background: url("img/icons/pdf.png") no-repeat 0 center; }
  a[type$="-php"]:before
                        { background: url("img/icons/php.png") no-repeat 0 center; }
  a[type$="/css"]:before
                        { background: url("img/icons/css.png") no-repeat 0 center; }

  /* - header ----------------------------------------------------------- */
  body>header           { font: 13px/19px "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑"; }
  body>header h1 a      { display: block; padding: 19px 20px;
                          text-indent: -9999px; }
  body>header ul        { list-style-type: none; }
  body>header ul+ul+ul  { display: block; font-size: 11px; }
  body>header a[rel=next],
  body>header a[rel=previous]
                        { display: block; width: 120px; text-align: right; }

  /* - header (lo-fi) --------------------------------------------------- */
  body>header           { position: relative; margin: 0 -140px 0 -120px;
                          border-bottom: 1px solid #d6d6d6; }
  body>header h1        { position: absolute; }
  body>header h1 a      { width: 65px; height: 26px;
                          background: url("img/logo.png") no-repeat 20px 0; }

  body>header nav       { padding: 0 0 38px 120px; }
  body>header ul,
  body>header li        { float: left; margin: 0; }
  body>header li        { padding-right: 10px; }
  body>header ul+ul     { position: absolute; margin-left: 140px; }
  body>header ul+ul+ul  { position: static; float: none; clear: left;
                          margin-left: 140px; }

  /* ‘next / previous article’ links */
  body>header a[rel=next],
  body>header a[rel=previous]
                        { position: absolute; top: 19px; right: 0;
                          padding: 0 20px 19px; text-align: right; }
  body>header a[rel=next]
                        { top: -19px; padding: 19px 20px 0;
                          text-align: left; }

  /* - article ---------------------------------------------------------- */
  article               { padding: 18px 19px 42px;
                          border: 1px dotted #d6d6d6;
                          border-width: 0 1px; }

  /* text and everything gets indented so that blockquotes, figures and
     block images can overhang nicely */
  article>*             { margin-left: 20px; margin-right: 20px; }

  /* the article meta information in the column to the left */
  article>header        { float: left; width: 120px; margin-left: -140px;
                          font: 12px/19px "Droid Serif",
                         Georgia, Palatino, 'Palatino Linotype',
                         Times, 'Times New Roman',
                         serif, "Hiragino Sans GB", "STXihei", "微软雅黑"; }
  article>header>*      { display: block; padding: 18px 20px 19px 0;
                          margin: 0; border-top: 1px dotted #d6d6d6; }

  /* dotted line between blocks (excluding above the first item) */
  article>header>:first-child
                        { border-top: none !important;
                          padding-top: 0 !important; }

  /* - article: meta: time ---------------------------------------------- */
  article>header time   { font: 26px/38px "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          text-transform: uppercase;
                          text-align: right; }
  article>header time sup
                        { display: block;
                          font-size: 12px;
                          line-height: 19px; }
  /* not all browsers / platforms render a hair-space >:[ */
  article>header time sup abbr
                        { padding-left: 1px; }

  /* - article: meta: tags ---------------------------------------------- */
  article>header li     { display: block; height: 19px; text-align: right;
                          line-height: 17px; }
  article>header li a:after
                        { display: inline-block; width: 10px;
                          margin-left: 10px; text-align: center;
                          content: "\2022"; font-family: "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          color: #718c00; }
  /* first tag is the type, the permalink */
  article>header ul
   >li:first-child a:after
                        { content: "\2605"; font-size: 11px; color: #718c00;}

  /* - article: meta: license ------------------------------------------- */
  article>header small  { font: inherit; text-align: center; }
  article>header small em a
                        { text-decoration: underline; }

  /* large copyright sign */
  article>header small
   abbr[title="copyright"]
                        { display: block; width: 100px; height: 114px;
                          text-indent: -9999px;
                          background: url("img/icons/copyright.png") no-repeat; }

  /* creative-commons logos */
  article>header small
   a[rel~=license]      { display: block; width: 100px; height: 114px;
                          text-indent: -9999px;
                          background: url("img/icons/cc.png") no-repeat; }

  /* article: meta: enclosure ------------------------------------------- */
  /* file name, size */
  article>header>a      { display: block; text-align: center;
                          word-wrap: break-word; font-size: 11px; }
  article>header>a+a    { padding-top: 0; border-top: none; }
  article>header>a>em   { display: block; font-size: 10px; }

  /* large file icon positioning */
  header>a[type]:before { content: ""; display: block;
                          width: 128px; height: 128px; margin: 0 -14px;
                          background: url("img/icons/document.png") no-repeat; }

  header>a[type$="/plain"]:before
                        { background-image: url("img/icons/txt.png"); }
  header>a[type$="/png"]:before
                        { background-image: url("img/icons/png.png"); }
  header>a[type$="/jpeg"]:before
                        { background-image: url("img/icons/jpg.png"); }
  header>a[type$="/zip"]:before
                        { background-image: url("img/icons/zip.png"); }
  header>a[type$="-php"]:before
                        { background-image: url("img/icons/php.png"); }
  header>a[type$="/css"]:before
                        { background-image: url("img/icons/css.png"); }
  header>a[type$="/pdf"]:before
                        { background-image: url("img/icons/pdf.png"); }
  header>a[type$="/mpeg"]:before
                        { background-image: url("img/icons/mp3.png"); }

  /* - section ---------------------------------------------------------- */
  section>header        { margin-bottom: 19px; text-align: right;
                          color: #4d4d4c; }
  section>header+h2     { padding-top: 0; }

  section h1            { margin: 0 -40px 19px; padding: 19px 40px;}

  /* side text that appears outside of the paper in the right hand column */
  aside                 { position: absolute; width: 120px;
                          margin-left: 700px;
                          font-size: 10px; text-align: left; }
  aside>p               { text-indent: 0; }
  dd aside              { margin-left: 660px; }

  /* block images in articles */
  video, iframe,
  section>img:not([width="640"]),
  li>img:not([width="640"]),
  dd>img:not([width="600"])
                        { border-width: 19px 20px; border-style: solid;
                          border-color: #d6d6d6;
                          background-color: #efefef; }
  video, iframe         { border: none; }

  /* - figure ----------------------------------------------------------- */
  figure, article>img   { display: inline-block; max-width: 640px;
                          margin: 0 auto; padding: 18px 19px;
                          background-color: #efefef; }

  /* block images have a bottom margin which is already provided by figure ^ */
  figure img            { display: block; margin-bottom: 0 !important;
                          border: none !important;
                          box-shadow: none !important; }

  /* don’t add an unessecary line between a figure and the footer */
  figure:not(:last-child),
  article>img:not(:last-child)
                        { margin-bottom: 19px; }

  figure                { margin-left: -20px; margin-right: -20px; }

  article>header+figure>figcaption
                        { color: black; text-shadow: white 0 1px 0; }
  /* remove the file type icon added to all links with a `type` attribute */
  figure a[type]:before { content: ""; display: none; }

  /* the figure’s legend (one line shared across two) */
  figcaption:not(:empty)
                        { margin-top: 8px; margin-bottom: -8px;
                          padding-top: 8px; border-top: 1px dotted #d6d6d6;
                          text-align: right; color: #4d4d4c;
                          font-family: "Droid Serif",
                          Georgia, Palatino, 'Palatino Linotype',
                          Times, 'Times New Roman',
                          serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          font-weight: normal; font-style: italic; }
  figcaption a          { color: inherit; text-decoration: underline; }
  figcaption a:hover    { color: #4d4d4c; }

  /* - footer ----------------------------------------------------------- */
  body>footer           { display: table; width: 720px; height: 38px;
                          padding: 56px 120px 0; margin-left: -120px;
                          border-top: 1px solid #d6d6d6;
                          font-size: 11px; }
  body>footer>*         { display: table-cell; }
  body>footer>a         { text-align: right; }
  body>footer>nav       { text-align: center; }
  body>footer>nav>a     { margin: 0 5px; text-transform: lowercase; }
  body>footer>form      { text-align: left; }
  body>footer>nav:first-child
                        { display: table-caption;
                          margin-bottom: -57px; padding: 19px 0;
                          text-align: center; }

  /* - search box ------------------------------------------------------- */
  footer input[type=search]
                        { display: inline-block; width: 130px; margin: 0;
                          padding: 4px 10px 3px 20px; border: none;
                          border-radius: 3px;
                          box-shadow: inset 0 1px 2px rgba(0,0,0,.7);
                          font: 11px "Droid Serif",
                         Georgia, Palatino, 'Palatino Linotype',
                         Times, 'Times New Roman',
                         serif, "Hiragino Sans GB", "STXihei", "微软雅黑";
                          background: #d6d6d6 url("img/icons/search.png")
                          no-repeat 5px 5px; }
  /* replicate the glow around the focused textbox */
  footer input[type=search]:focus
                        { box-shadow: 0 0 3px 3px, inset 0 1px 2px rgba(0,0,0,.7);
                          background-color: #efefef; }

  /* submit button inside the search field */
  footer input[type=submit]
                        { display: none; width: 19px; height: 19px;
                          cursor: pointer; margin: 0 0 0 -23px;
                          padding: 0; border: none; text-indent: -9999px;
                          background: url("img/icons/go.png")
                          no-repeat 0 4px; }

  /* hover / focus effects */
  input[type=submit]:hover,  input[type=search]:focus+input,
  input[type=submit]:focus, input[type=search]:hover+input
                        { display: inline-block; }
  input[type=submit]:hover,
  input[type=submit]:focus
                        { background: url("img/icons/gos.png")
                          no-repeat 0 4px; }

  /* - directory -------------------------------------------------------- */
  body>ol               { padding-bottom: 120px; }
  body>ol>li            { display: inline-block;
                          width: 140px; height: 180px;
                          text-align: center; vertical-align: top; }

  body>ol>li>a          { text-decoration: none !important;
                          word-wrap: break-word;
                          background: none !important; }

  body>ol>li>a>img      { display: block; }
  body>ol>li>a:not([type]):before,
  body>ol>li>a[type]:before
                        { content: ""; display: inline-block;
                          margin-right: 0; text-indent: 0;
                          line-height: 13px; vertical-align: top;
                          background: none; }

}

/* = browser style (desktops) =========================================== */
@media screen and (min-device-width: 480px) {

  /* adjustment for the fixed-footer
     (excludes this much from the 100% height of the article) */
  html                  { padding-bottom: 171px;
                          /* the ‘shadow’ on the background coming from the
                             fixed header at the bottom of the screen a real
                             shadow, whilst better simply kills the CPU so we
                             replicate with a CSS gradient */
                          background: linear-gradient(bottom,#efefef 40%,#fafafa) fixed no-repeat 0 100%;
                          background-size: 100% 240px;
                          /* fix for Firefox 3.5 which doesn’t support the gradient */
                          background-color: #fafafa; }

  /* orange areas have an engraved text effect*/
  body, aside           { color: #4d4d4c;
                          text-shadow: #d6d6d6 0 -1px 0, rgba(255,255,255,.2) 0 1px 0; }

  /* - abbreviations: underlines ----------------------------------------- */
  /* begin with the basics; abbreviations in items that do not contain
     other nested blocks */
  p:hover abbr[title], dt:hover abbr[title],
  /* for the following we are covering two particulars: abbreviations
     directly within the element, i.e. `dd>abbr`, but also abbreviations
     that fall within non-block elements such as hyperlinks or cites &c.,
     i.e. `dd>em>abbr`; we have to use `:not(…)` to prevent highlighting
     all abbreviations at all levels within nested blocks, e.g.
     `dd:hover>ul>li>p>abbr` */
  dd:hover   >abbr[title], dd:hover   >:not(p):not(dl):not(ul):not(ol):not(blockquote) abbr[title],
  li:hover   >abbr[title], li:hover   >:not(p):not(dl):not(ul):not(ol):not(blockquote) abbr[title],
  /* generally speaking, bullet lists that do not contain paragraphs for
     each item are short and tightly spaced; for simplicity, hovering
     over these kinds of lists will highlight all of the abbreviations
     in the list */
  ul:hover>li>abbr[title], ul:hover>li>:not(p):not(dl):not(ul):not(ol):not(blockquote) abbr[title],
  ol:hover>li>abbr[title], ol:hover>li>:not(p):not(dl):not(ul):not(ol):not(blockquote) abbr[title],
  /* --- and again, for `<dfn>`! */
  p:hover dfn[title], dt:hover dfn[title],
  dd:hover   >dfn[title], dd:hover   >:not(p):not(dl):not(ul):not(ol):not(blockquote) dfn[title],
  li:hover   >dfn[title], li:hover   >:not(p):not(dl):not(ul):not(ol):not(blockquote) dfn[title],
  ul:hover>li>dfn[title], ul:hover>li>:not(p):not(dl):not(ul):not(ol):not(blockquote) dfn[title],
  ol:hover>li>dfn[title], ol:hover>li>:not(p):not(dl):not(ul):not(ol):not(blockquote) dfn[title]
                        { border-bottom: 1px dotted #d6d6d6; cursor: help; }

  /* - abbreviations: floaty -------------------------------------------- */
  /* the abbreviation itself: */
  section abbr[title]:hover,
  figure abbr[title]:hover
                        { display: inline-block; position: relative;
                          margin: -2px -6px; padding: 1px 5px;
                          line-height: inherit; vertical-align: top;
                          /* dotted underline previals otherwise */
                          border: 1px solid #d6d6d6 !important;
                          border-radius: 0 12px 12px 0;
                          box-shadow: 0 2px 0 rgba(0,0,0,.4);
                          color: #4d4d4c; text-indent: 0;
                          background-color: #fafafa;}

  /* abbreviation description: */
  section abbr[title]:hover:before,
  figure abbr[title]:hover:before
                        { content: attr(title); position: absolute;
                          display: block; top: -1px; right: 100%;
                          height: 100%; padding: 0 5px 0 7px;
                          border: 1px solid #d6d6d6;
                          border-radius: 12px 0 0 12px;
                          box-shadow: 0 2px 0 rgba(0,0,0,.4);
                          color: #4d4d4c; white-space: nowrap;
                          background-color: #fafafa;}

  /* - desktop: links --------------------------------------------------- */
  /* links in the orange areas */
  header a, footer a,
  aside a, article>a,
  article>:not(section):not(figure) a
                        { color: #4271ae; }
  header a:hover, footer a:hover, aside a:hover,
  header a:focus, footer a:focus, aside a:focus,
  article>a:hover, article>:not(section):not(figure) a:hover,
  article>a:focus, article>:not(section):not(figure) a:focus,
  a[rel~=tag]           { color: #4d4d4c !important;
                          text-shadow: #fafafa 1px 1px 0; }

  /* links that remain underlined */
  footer a, aside a, article>a,
  article>:not(section):not(figure):not(header) a
                        { text-decoration: underline; }

  /* do not underline these links */
  header a:hover,
  header a:focus        { text-decoration: none; }

  /* links in blockquotes within the orange area */
  article>blockquote a,
  article>header+blockquote a
                        { text-shadow: #f5871f 0 -1px 0, #eab700 0 1px 0; }

  /* - desktop: links: icons -------------------------------------------- */
  a:not([type])[rel~=external],
  a[href*="mailto:"]    { text-indent: 0;
                          background: url("img/links/external.png")
                          no-repeat 4px 4px;}

  /* hide favicon image when not hovering on the link (whilst keeping the
    image on standby) */
  a[rel~=external]:not([type]):not(:hover),
  a[href*="mailto:"]:not(:hover)
                        { background-image: none; }

  /* when you hover over the link, jut the favicon over the left side */
  a[rel~=external]:not([type]):hover,
  a[href^="mailto:"]:hover
                        { margin-left: -20px; padding-left: 20px;
                          background-color: #efefef;}

  /* adjust for background color for jutted-out icon when in the page
     areas */
  article>:not(section):not(figure) a[rel~=external]:not([type]):hover,
  article>a[rel~=external]:not([type]):hover,
  aside a[rel~=external]:not([type]):hover
                        { display: inline-block;
                          background-color: #fafafa;}

  /* don’t jut out an icon for links in the large blockquotes in page
     areas, and the e-mail link in the footer */
  article>blockquote a[rel~=external]:not([type]):hover,
  footer a[href*="mailto:"]
                        { margin-left: 0; padding-left: 0 !important;
                          padding-bottom: 0; background: none !important; }

  a[href*="mailto:"]:hover
                        { background: url("img/links/mailto.png") no-repeat 0 2px;}

  a[href*="osnews.com"]:hover,
  a[href*="osne.ws"]:hover
                        {
                          background: url("img/links/osnews.png") no-repeat 0 0;
                        }

  a[href*="daringfireball."]:hover
                        {
                          background: url("img/links/df.png") no-repeat 0 0;
                        }

  a[href*="wikipedia."]:hover
                        {
                          background: url("img/links/wikipedia.png") no-repeat 0 0;
                        }

  a[href*="youtube."]:hover
                        {
                          background: url("img/links/youtube.png") no-repeat 0 0;
                        }

  a[href*="twitter."]:hover
                        {
                          background: url("img/links/twitter.png") no-repeat 0 0;
                        }

  a[href*="flickr."]:hover
                        {
                          background: url("img/links/flickr.png") no-repeat 0 0;
                        }

  a[href*="php."]:hover
                        {
                          background: url("img/links/phpnet.png") no-repeat 0 0;
                        }

  /* - desktop: article ------------------------------------------------- */
  article>h1            { margin-left: 0; }
  article>h1+a          { margin-left: 0; }
  article>h1+a:before   { content: '℅ '; }

  /* the set of meta information to the left hand side of an article:
     (note that most of this is already handled in the all-browser’s
      section) */

  /* the dotted line between items does not connect to the body in the
     hi-fi design */
  article>header        { width: 100px; }
  article>header>*      { padding-right: 0; border-top: 1px dotted #d6d6d6; }

  /* - desktop: monospace ----------------------------------------------- */
  pre.prettyprint       { display: block; overflow: auto;
                          margin-bottom: 2em; padding: .916666667em;
                          line-height: 2em;
                          white-space: pre-wrap;
                          border-top: 1px solid #ccc;
                          border-bottom: 1px solid #ccc;
                          color: #4d4d4c; background: #fafafa;
                          background-size: 4em 4em; background-origin: content-box;
                          background-image: linear-gradient(#fff 50%, transparent 50%, transparent);
                          box-shadow: 0px 1px 2px rgba(0,0,0,.1) inset,
                          0px 1px 0px rgba(255,255,255,.9),
                          3.083333333em 0 0 #f9f9f9 inset,
                          3.166666667em 0 0 #ddd inset;
                          padding-left: 4em; }

  pre.prettyprint code  { border: none; background: none;
                          font-size: 1.25em ; text-shadow: none; }

  .pln { color: #4d4d4c; }  /* plain text */

  .str { color: #718c00; }  /* string content */
  .kwd { color: #8959a8; }  /* a keyword */
  .com { color: #8e908c; }  /* a comment */
  .typ { color: #eab700; }  /* a type name */
  .lit { color: #718c00; }  /* a literal value */

  .pun,
  .opn,
  .clo { color: #4271ae; }  /* punctuation, lisp open bracket, lisp close bracket */
  .tag { color: #8959a8; }  /* a markup tag name */
  .atn { color: #4271ae; }  /* a markup attribute name */
  .atv { color: #718c00; }  /* a markup attribute value */
  .dec,
  .var { color: #c82829; }  /* a declaration; a variable name */
  .fun { color: #3e999f; }  /* a function name */

  ol.linenums           { margin: 0 -.5em; list-style-position: outside; }
  ol.linenums li        { padding: 0 .666666667em; }
  ol.linenums li:hover  { background: #d6d6d6; border-radius: 4px; }

  /* - desktop: section ------------------------------------------------- */
  figure, article>img   { text-shadow: none;
                          box-shadow: 0 0 8px rgba(0,0,0,.5); }

  section+section       { margin-top: 19px; }

  /* if a code block is the first element, adjust it against the H1 */
  section>h1+pre        { border-top: none;
                          margin-top: -36px; margin-bottom: 38px;
                          padding-top: 19px; }

  /* if an image is first in an article, increase the space below */
  section>h1+img        { margin-top: -36px; margin-bottom: 38px; }

  /* when a pre block finishes a section, merge it to the end */
  section>pre:last-child
                        { margin-bottom: -19px; }

  /* block images in articles */
  video, *:not(figure)>iframe,
  section>img:not([width="640"]),
  li>img:not([width="640"]),
  dd>img:not([width="600"])
                    { border-color: white; background-color: #efefef;
                      box-shadow: 0 2px 5px rgba(0,0,0,.3); }

  /* - desktop: figure -------------------------------------------------- */
  figure img            { /* --- */}
  section figure        { background: white; }

  figure audio          { width: 100%; margin-top: 8px; }

  /* - desktop: directory ----------------------------------------------- */
  body>ol>li>a          { color: #4271ae; }
  body>ol>li>a:hover    { color: #4d4d4c !important;
                          text-shadow: #d6d6d6 1px 1px 0; }
}

/* = Goodbye, my dear friend. Now clear out this place. ================= */
