<footer>

  <a href="mailto:daniel@kogitoapp.com">daniel@kogitoapp.com</a>
  <nav>view-source:
    <a href="&__HREF__;.rem">Content</a> •
    <a href="&__HREF__;.html">Markup</a> •
    <a href="/design/">Style</a> •
    <a href="/.system/">Code</a> •
    <a href="/.htaccess">.htaccess</a>
  </nav>
  <form method="get" action="https://duckduckgo.com">
    <input type="hidden" name="sites" value="&__HOST__;" />
    <input type="search" name="q" placeholder="search…" />
    <input type="submit" value="Go" />
  </form>
</footer>

&__SITE_ANALYTICS__;

<script type="text/javascript">
  prettyPrint();
</script>
