<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
<!-- === daniel s. reichenbach of marenkay.com ============================= -->
<head>
  <title>&__TITLE__;</title>
  <meta name="google-site-verification" content="FZXevKJWbCxIDZlADH-9CVWsxhoqLQLcFEO0g6Qmt2o" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/design/design.css" />
  <link rel="author" href="/humans.txt" type="text/plain" />
  <link href="https://plus.google.com/116333820094416094247" rel="publisher" />
  <script src="/design/js/mootools-core-1.4.1.js"></script>
  <script src="/design/js/mootools-more-1.4.0.1.js"></script>
  <script src="/design/js/selectivizr-1.0.2.js"></script>
  <script src="/design/js/modernizr-2.0.6.js"></script>
  <script src="/design/js/prettify/prettify.js"></script>
&__HEADER__;
&__CONTENT__;
&__FOOTER__;
</body>
<!-- ==================================== developer, father, gamer, nerd === -->
</html>
